<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">Document1105</h3>
        <div class="p-fluid p-formgrid grid">
           

            <div class="field col-12">
                <label for="codeLieuAffectation" class="form-label">Code Lieu Affectation</label>
                <input type="text" pInputText id="codeLieuAffectation" name="codeEmploi">
            </div>

            <div class="p-formgrid grid" style="text-align: center;margin-left: 250px;">
                <div class="field col" style="margin: 0 auto;">
                    <button pButton pRipple label="Ajouter"></button>
                </div>
                <div class="field col" style="margin: 0 auto;">
                    <button type="reset" class="p-button-secondary" pButton pRipple label="Effacer"></button>
                </div>
            </div>
        </div>




    </div>
</div>