<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content">
        <div class="tab-pane active">
          <!-- app.component.html -->
          <div class="dashboard">

            <div class="main-content">
              <div class="dashboard-header">
                <h2>Depot de dossier</h2>
              </div>
            </div>

          </div>
          <div class="d-flex">
            <div class="card mr-3" style="flex: 1;">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 1.25rem;">Demande en ligne</h5>
                <p class="card-text" style="text-align: justify;">
                  Les pieces recquises pour votre dépot exste en fonction de votre type de dossier;Veuillez voir les pieces justificatives
                  afin de savoir quelle pieces joindre
                </p>
                <ol class="card-text">
                  <li *ngFor="let piece of pieceJustificatifs">{{ piece.libelle }}</li>
                </ol>
                <p class="card-text">
                  Une fois que vous avez suivi ces étapes, vous pouvez cliquer sur le bouton ci-dessous pour déposer votre dossier.
                </p>
              </div>
            </div>


            <div class="card" style="flex: 1;">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 1.25rem;">Depot</h5>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                  <fieldset class="mb-3">
                    <legend>Sélectionnez un type de dossier :</legend>
                    <select class="form-select" formControlName="typeDossier">
                      <option *ngFor="let typeDossier of typeDossierList" [value]="typeDossier.id">
                        {{ typeDossier.libelle }}
                      </option>
                    </select>
                  </fieldset>
                  <div class="mb-3">
                    <label for="file1" class="form-label">Télécharger un fichier (PDF, Word, etc.) :</label>
                    <input type="file" class="form-control" id="file1" accept=".pdf,.doc,.docx">
                  </div>
                  <div class="mb-3">
                    <label for="file2" class="form-label">Télécharger un autre fichier :</label>
                    <input type="file" class="form-control" id="file2" accept=".pdf,.doc,.docx">
                  </div>
                  <button type="submit" style="background-color: #6366F1;" class="btn btn-primary">Soumettre</button>
                </form>
              </div>
            </div>


          </div>

        </div>

      </div>
    </div>
  </div>
</div>
