<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Depot de dossier</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="d-flex">
            <div class="card mr-3" style="flex: 1;">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 1.5rem; font-weight: bold;">Demande en ligne</h5>
                <p class="card-text" style="font-size: 1.1rem; text-align: justify;">
                  Les pièces requises pour votre dépôt existent en fonction de votre type de dossier. Veuillez consulter les pièces
                  justificatives pour savoir quelles pièces joindre.
                </p>
                <div class="jumbotron bg-light p-4">
                  <h4 class="display-5 text-center mb-4">Types de Dossiers et Pièces Justificatives</h4>
                  <ul class="list-unstyled">
                    <li *ngFor="let typeDossier of typeDossierList">
                      <h3 class="mb-3">{{ typeDossier.libelle }}</h3>
                      <ul>
                        <li *ngFor="let piece of typeDossier.piecesJustificatives" style="font-weight: bold;">
                          {{ piece.libelle }}
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <p class="card-text">
                  Une fois que vous avez suivi ces étapes, vous pouvez cliquer sur le bouton ci-dessous pour déposer votre dossier.
                </p>
              </div>
            </div>
            <div class="card" style="flex: 1;height: 400px;">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 1.25rem;">Depot</h5>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                  <fieldset class="mb-3">
                    <legend>Sélectionnez un type de dossier :</legend>
                    <select class="form-select" formControlName="typeDossier">
                      <option *ngFor="let typeDossier of typeDossierList" [value]="typeDossier.id">
                        {{ typeDossier.libelle }}
                      </option>
                    </select>
                  </fieldset>
                  <div class="mb-3">
                    <label for="file1" class="form-label">Télécharger un fichier (PDF, Word, etc.) :</label>
                    <input type="file" class="form-control" id="file1" accept=".pdf,.doc,.docx">
                  </div>
                  <div class="mb-3">
                    <label for="file2" class="form-label">Télécharger un autre fichier :</label>
                    <input type="file" class="form-control" id="file2" accept=".pdf,.doc,.docx">
                  </div>
                  <button type="submit" style="background-color: #6366F1;" class="btn btn-primary">Soumettre</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
