<div class="container my-3 mx-48">
    <h1 class="text-3xl text-slate-400 font-semibold mb-12">Detail du dossier</h1>
    <div class="card mr-96">
       
            <div class="card-body">
                <div class="row">
                    <div class="row">
                        <div class="col-4 my-2">
                            <label for="">
                                <p>Nom : {{dossier?.origine}}</p>
                            </label>

                        </div>
                        <div class="col-4 my-2">
                            <label for="">
                                <p>Type : {{dossier?.typeDossier}}</p>
                            </label>
                        </div>

                    </div>
                </div>
            </div>


       
    </div>
</div>