<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">Document2011</h3>
        <div class="p-fluid p-formgrid grid">

            <div class="field col-12">
                <label for="codePoste2011" class="form-label">Code Poste</label>
                <input type="text" pInputText id="codePoste2011" name="codePoste2011">
            </div>
            <div class="field col-12">
                <label for="dateDebut2011" class="form-label">Date de Début</label>
                <p-calendar [showIcon]="true" inputId="icon"></p-calendar>            </div>
            <div class="field col-12">
                <label for="dateFin2011" class="form-label">Date de Fin</label>
                <p-calendar [showIcon]="true" inputId="icon"></p-calendar>            </div>
            <div class="field col-12">
                <label for="montant2011" class="form-label">Montant</label>
                <input type="text" pInputText id="montant2011" name="montant2011">
            </div>
            <div class="p-formgrid grid" style="text-align: center;margin-left: 250px;">
                <div class="field col" style="margin: 0 auto;">
                    <button pButton pRipple label="Ajouter"></button>
                </div>
                <div class="field col" style="margin: 0 auto;">
                    <button type="reset" class="p-button-secondary" pButton pRipple label="Effacer"></button>
                </div>
            </div>
        </div>




    </div>
</div>