.bg-circle {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-image: linear-gradient(140deg,var(--primary-color),var(--surface-ground) 80%);
    position: absolute;
    opacity: 0.25;
    z-index: -1;
}

.visibility-hidden {
    visibility: hidden;
}

.moveinright {
    animation: moveinright .15s linear;
}

@keyframes moveinright {
    0% {
      opacity: 0;
      transform: translateX(50px);
      transition: transform .12s cubic-bezier(0, 0, 0.2, 1), opacity .12s cubic-bezier(0, 0, 0.2, 1);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  .custom-link-style {
    display: inline-block;
    padding: 10px 20px; /* Ajustez les valeurs de padding selon vos préférences */
    background-color: #5561aa; /* Couleur de fond */
    color: white !important; /* Couleur du texte en blanc, "!important" pour forcer la priorité sur d'autres styles */
    border-radius: 5px; /* Coins arrondis */
    text-decoration: none; /* Supprimer la soulignement du lien */
    transition: background-color 0.3s ease; /* Transition de la couleur de fond */
  }

  .custom-link-style:hover {
    background-color: #394b90; /* Couleur de fond au survol */
  }
