<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">Document3001</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
            <div class="p-fluid p-formgrid grid">

                <div class="field col-12 md:col-6">
                    <label for="tauxRappel" class="form-label">Taux de Rappel</label>
                    <input type="text" pInputText id="tauxRappel" name="tauxRappel" formControlName="tauxRappel">
                </div>
                <div class="field col-12 md:col-6">
                    <label for="pointsRappel" class="form-label">Points de Rappel</label>
                    <input type="text" pInputText id="pointsRappel" name="pointsRappel" formControlName="pointsRappel">
                </div>
                <div class="field col-12 md:col-6">
                    <label for="dateDebutRappel" class="form-label">Date de Début de Rappel</label>
                    <p-calendar [showIcon]="true" id="dateDebutRappel" formControlName="dateDebutRappel"></p-calendar>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="dateFinRappel" class="form-label">Date de Fin de Rappel</label>
                    <p-calendar [showIcon]="true" id="dateFinRappel" formControlName="dateFinRappel"></p-calendar>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="nombreJoursRappel" class="form-label">Nombre de Jours de Rappel</label>
                    <input type="text" pInputText id="nombreJoursRappel" name="nombreJoursRappel"
                        formControlName="nombreJoursRappel">
                </div>
                <div class="field col-12 md:col-6">
                    <label for="codePoste" class="form-label">Code Poste</label>
                    <input type="text" pInputText id="codePoste" name="codePoste" formControlName="codePoste">
                </div>
                <div class="field col-12">
                    <label for="montant" class="form-label">Montant</label>
                    <input type="text" pInputText id="montant" name="montant" formControlName="montant">
                </div>
                <div class="p-formgrid grid" style="text-align: center; margin-left: 250px;">
                    <div class="field col" style="margin: 0 auto;">
                        <button pButton pRipple label="Ajouter"></button>
                    </div>
                    <div class="field col" style="margin: 0 auto;">
                        <button type="reset" class="p-button-secondary" pButton pRipple label="Effacer"></button>
                    </div>
                </div>
            </div>
        </form>



    </div>
</div>