<div class="container">
    <button (click)="backToList()" pButton pRipple type="button" icon="pi pi-arrow-left"
        class="p-button-rounded p-button-outlined"></button>
    <div class="d-flex justify-content-between align-items-center p-2">
        <h1>Formulaire de saisie</h1>
    </div>

    <form>
        <div class="row">
            <!-- Section Document1101 -->
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1101
                    </div>

                    <p-table #dt [value]="document1101s" [paginator]="true" [rows]="10" [rowHover]="true"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="codeTitre" class="white-space-nowrap" style="width: 25%">
                                    Code Titre

                                </th>

                                <th pSortableColumn="nom" class="white-space-nowrap" style="width: 25%">
                                    Nom et prénoms

                                </th>
                                <th pSortableColumn="codeSexe" class="white-space-nowrap" style="width: 25%">
                                    Code Sexe

                                </th>
                                <th pSortableColumn="codeSituationMatrimoniale" class="white-space-nowrap"
                                    style="width: 25%">
                                    Code Statut

                                </th>
                                <th pSortableColumn="nombreEnfantAf" class="white-space-nowrap" style="width: 25%">
                                    Nombre Enfant

                                </th>
                                <th pSortableColumn="codeSalaireUnique" class="white-space-nowrap" style="width: 25%">
                                    Code Salaire Unique

                                </th>
                                <th pSortableColumn="categorieImpIrpp" class="white-space-nowrap" style="width: 25%">
                                    Categorie Imp Irpp

                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button [disabled]="isFull1101" pButton pRipple type="button" icon="pi pi-plus"
                                        label="Nouveau" (click)="openModal1101()"
                                        class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document1101>
                            <tr [ngStyle]="{'background-color': document1101.status == 'À rectifier' ? 'yellow' : ''}">
                                <td>{{document1101.codeTitre}}</td>

                                <td>{{document1101.nom}}</td>

                                <td>
                                    {{document1101.codeSexe}}
                                </td>
                                <td>
                                    {{document1101.codeStatut}}
                                </td>
                                <td>
                                    {{document1101.nombreEnfantAf}}
                                </td>
                                <td>
                                    {{document1101.codeSalaireUnique}}
                                </td>
                                <td>
                                    {{document1101.categorieImpIrpp}}
                                </td>
                                <td>
                                    <div class="flex">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="edit1101(document1101)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning mr-2"
                                            (click)="delete1101(document1101)"></button>
                                        <button *ngIf="document1101.motifRejet" pButton pRipple icon="pi pi-info-circle"
                                            class="p-button-rounded p-button-danger"
                                            (click)="openRejetMotif1101(document1101)"></button>
                                    </div>
                                </td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <!-- Section Document1102 -->


        </div>



        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="text-900 text-xl font-semibold mb-3">
                    Document1102
                </div>
                <p-table #dt [value]="document1102s" [paginator]="true" [rows]="10" [rowHover]="true"
                    styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="white-space-nowrap" style="width: 15px">
                                Catégorie Anc
                            </th>
                            <th class="white-space-nowrap">
                                Échelle Corps Anc
                            </th>
                            <th class="white-space-nowrap">
                                Grade Anc
                            </th>
                            <th class="white-space-nowrap">
                                Indice Anc
                            </th>
                            <th class="white-space-nowrap">
                                Catégorie Nv
                            </th>
                            <th class="white-space-nowrap">
                                Échelle Corps Nv
                            </th>
                            <th class="white-space-nowrap">
                                Grade Nv
                            </th>
                            <th class="white-space-nowrap">
                                Indice Nv
                            </th>
                            <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 10%">
                                <button [disabled]="isFull1102" pButton pRipple type="button" icon="pi pi-plus"
                                    label="Nouveau" (click)="openModal1102()"
                                    class="p-button-outlined p-button-sm"></button>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-document1102>
                        <tr [ngStyle]="{'background-color': document1102.status == 'À rectifier' ? 'yellow' : ''}">
                            <td>{{document1102.codeCategorieAnc}}</td>
                            <td>{{document1102.codeEchelleCorpsAnc}}</td>
                            <td>{{document1102.codeGradeAnc}}</td>
                            <td>{{document1102.codeIndiceAnc}}</td>
                            <td>{{document1102.codeCategorieNv}}</td>
                            <td>{{document1102.codeEchelleCorpsNv}}</td>
                            <td>{{document1102.codeGradeNv}}</td>
                            <td>{{document1102.codeIndiceNv}}</td>
                            <td>
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success mr-2"
                                        (click)="edit1102(document1102)"></button>
                                    <button pButton pRipple icon="pi pi-trash"
                                        class="p-button-rounded p-button-warning mr-2"
                                        (click)="delete1102(document1102)"></button>
                                    <button *ngIf="document1102.motifRejet" pButton pRipple icon="pi pi-info-circle"
                                        class="p-button-rounded p-button-danger"
                                        (click)="openRejetMotif1102(document1102)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="text-900 text-xl font-semibold mb-3">
                    Document3001
                </div>
                <p-table #dt [value]="document3001s" [paginator]="true" [rows]="10" [rowHover]="true"
                    styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="white-space-nowrap" style="width: 10%">
                                Taux Rappel
                            </th>
                            <th class="white-space-nowrap" style="width: 10%">
                                Points Rappel
                            </th>
                            <th class="white-space-nowrap" style="width: 10%">
                                Date Début Rappel
                            </th>
                            <th class="white-space-nowrap" style="width: 10%">
                                Date Fin Rappel
                            </th>
                            <th class="white-space-nowrap" style="width: 10%">
                                Nombre Jours Rappel
                            </th>
                            <th class="white-space-nowrap" style="width: 10%">
                                Code Poste
                            </th>
                            <th class="white-space-nowrap" style="width: 10%">
                                Montant
                            </th>
                            <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 10%">
                                <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                    (click)="openModal3001()" class="p-button-outlined p-button-sm"></button>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-document3001>
                        <tr [ngStyle]="{'background-color': document3001.status == 'À rectifier' ? 'yellow' : ''}">
                            <td>{{ document3001.tauxRappel }}</td>
                            <td>{{ document3001.pointsRappel }}</td>
                            <td>{{ document3001.dateDebutRappel | date: 'yyyy-MM-dd' }}</td>
                            <td>{{ document3001.dateFinRappel | date: 'yyyy-MM-dd' }}</td>
                            <td>{{ document3001.nombreJoursRappel }}</td>
                            <td>{{ document3001.codePoste }}</td>
                            <td>{{ document3001.montant }}</td>
                            <td>
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success mr-2"
                                        (click)="edit3001(document3001)"></button>
                                    <button pButton pRipple icon="pi pi-trash"
                                        class="p-button-rounded p-button-warning mr-2"
                                        (click)="delete3001(document3001)"></button>
                                    <button *ngIf="document3001.motifRejet" pButton pRipple icon="pi pi-info-circle"
                                        class="p-button-rounded p-button-danger"
                                        (click)="openRejetMotif3001(document3001)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="row">
            <!-- Section Document1103 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1103
                    </div>
                    <p-table #dt [value]="document1103s" [paginator]="true" [rows]="10" [rowHover]="true"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Code Service Anc

                                </th>

                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    Code Service Nv

                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button [disabled]="isFull1103" pButton pRipple type="button" icon="pi pi-plus"
                                        label="Nouveau" (click)="openModal1103()"
                                        class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document1103>
                            <tr [ngStyle]="{'background-color': document1103.status == 'À rectifier' ? 'yellow' : ''}">
                                <td>{{document1103.codeServiceAnc}}</td>

                                <td>{{document1103.codeServiceNv}}</td>

                                <td>
                                    <div class="flex">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="edit1103(document1103)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning mr-2"
                                            (click)="delete1103(document1103)"></button>
                                        <button *ngIf="document1103.motifRejet" pButton pRipple icon="pi pi-info-circle"
                                            class="p-button-rounded p-button-danger"
                                            (click)="openRejetMotif1103(document1103)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <!-- Section Document1104 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1104
                    </div>
                    <p-table #dt [value]="document1104s" [paginator]="true" [rows]="10" [rowHover]="true"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Code Emploi
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Date Fin Emploi
                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 10%">
                                    <button [disabled]="isFull1104" pButton pRipple type="button" icon="pi pi-plus"
                                        label="Nouveau" (click)="openModal1104()"
                                        class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document1104>
                            <tr [ngStyle]="{'background-color': document1104.status == 'À rectifier' ? 'yellow' : ''}">
                                <td>{{document1104.codeEmploi}}</td>
                                <td>{{document1104.dateFinEmploi | date: 'yyyy-MM-dd'}}</td>
                                <td>
                                    <div class="flex">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="edit1104(document1104)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning mr-2"
                                            (click)="delete1104(document1104)"></button>
                                        <button *ngIf="document1104.motifRejet" pButton pRipple icon="pi pi-info-circle"
                                            class="p-button-rounded p-button-danger"
                                            (click)="openRejetMotif1104(document1104)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>


        <div class="row">
            <!-- Section Document1105 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1105
                    </div>
                    <p-table #dt [value]="document1105s" [paginator]="true" [rows]="10" [rowHover]="true"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Code Lieu Affectation
                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 10%">
                                    <button [disabled]="isFull1105" pButton pRipple type="button" icon="pi pi-plus"
                                        label="Nouveau" (click)="openModal1105()"
                                        class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document1105>
                            <tr [ngStyle]="{'background-color': document1105.status == 'À rectifier' ? 'yellow' : ''}">
                                <td>{{ document1105.codeLieuAffectation }}</td>
                                <td>
                                    <div class="flex">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="edit1105(document1105)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning mr-2"
                                            (click)="delete1105(document1105)"></button>
                                        <button *ngIf="document1105.motifRejet" pButton pRipple icon="pi pi-info-circle"
                                            class="p-button-rounded p-button-danger"
                                            (click)="openRejetMotif1105(document1105)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <!-- Section Document1106 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1106
                    </div>
                    <p-table #dt [value]="document1106s" [paginator]="true" [rows]="10" [rowHover]="true"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Code Position Solde
                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 10%">
                                    <button [disabled]="isFull1106" pButton pRipple type="button" icon="pi pi-plus"
                                        label="Nouveau" (click)="openModal1106()"
                                        class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document1106>
                            <tr [ngStyle]="{'background-color': document1106.status == 'À rectifier' ? 'yellow' : ''}">
                                <td>{{ document1106.codePositionSolde }}</td>
                                <td>
                                    <div class="flex">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="edit1106(document1106)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning mr-2"
                                            (click)="delete1106(document1106)"></button>
                                        <button *ngIf="document1106.motifRejet" pButton pRipple icon="pi pi-info-circle"
                                            class="p-button-rounded p-button-danger"
                                            (click)="openRejetMotif1106(document1106)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- Section Document1107 -->
            <div class="col-md-8 mb-3 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1107
                    </div>
                    <p-table #dt [value]="document1107s" [paginator]="true" [rows]="10" [rowHover]="true"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Code Mode Règlement
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Numéro Compte en Banque
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Code Agence
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Clé RIB
                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 10%">
                                    <button [disabled]="isFull1107" pButton pRipple type="button" icon="pi pi-plus"
                                        label="Nouveau" (click)="openModal1107()"
                                        class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document1107>
                            <tr [ngStyle]="{'background-color': document1107.status == 'À rectifier' ? 'yellow' : ''}">
                                <td>{{ document1107.codeModeReglement }}</td>
                                <td>{{ document1107.numeroCompteEnBanque }}</td>
                                <td>{{ document1107.codeAgence }}</td>
                                <td>{{ document1107.cleRib }}</td>
                                <td>
                                    <div class="flex">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="edit1107(document1107)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning mr-2"
                                            (click)="delete1107(document1107)"></button>
                                        <button *ngIf="document1107.motifRejet" pButton pRipple icon="pi pi-info-circle"
                                            class="p-button-rounded p-button-danger"
                                            (click)="openRejetMotif1107(document1107)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <!-- Section Document1109-->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1109
                    </div>
                    <p-table #dt [value]="document1109s" [paginator]="true" [rows]="10" [rowHover]="true"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Date Mariage
                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 10%">
                                    <button [disabled]="isFull1109" pButton pRipple type="button" icon="pi pi-plus"
                                        label="Nouveau" (click)="openModal1109()"
                                        class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document1109>
                            <tr [ngStyle]="{'background-color': document1109.status == 'À rectifier' ? 'yellow' : ''}">
                                <td>{{ document1109.dateMariage | date: 'yyyy-MM-dd' }}</td>
                                <td>
                                    <div class="flex">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="edit1109(document1109)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning mr-2"
                                            (click)="delete1109(document1109)"></button>
                                        <button *ngIf="document1109.motifRejet" pButton pRipple icon="pi pi-info-circle"
                                            class="p-button-rounded p-button-danger"
                                            (click)="openRejetMotif1109(document1109)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- Section Document2021 -->
            <div class="col-md-7 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document2021
                    </div>
                    <p-table #dt [value]="document2021s" [paginator]="true" [rows]="10" [rowHover]="true"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Code Poste
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Date Début
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Date Fin
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Montant
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Montant Global
                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 10%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal2021()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document2021>
                            <tr [ngStyle]="{'background-color': document2021.status == 'À rectifier' ? 'yellow' : ''}">
                                <td>{{ document2021.codePoste }}</td>
                                <td>{{ document2021.dateDebut | date: 'yyyy-MM-dd' }}</td>
                                <td>{{ document2021.dateFin | date: 'yyyy-MM-dd' }}</td>
                                <td>{{ document2021.montant }}</td>
                                <td>{{ document2021.montantGlobal }}</td>
                                <td>
                                    <div class="flex">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="edit2021(document2021)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning mr-2"
                                            (click)="delete2021(document2021)"></button>
                                        <button *ngIf="document2021.motifRejet" pButton pRipple icon="pi pi-info-circle"
                                            class="p-button-rounded p-button-danger"
                                            (click)="openRejetMotif2021(document2021)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <!-- Section Document2101-->
            <div class="col-md-5 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document2101
                    </div>
                    <p-table #dt [value]="document2101s" [paginator]="true" [rows]="10" [rowHover]="true"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Numéro Écriture
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Poste
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Début
                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 10%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal2101()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document2101>
                            <tr [ngStyle]="{'background-color': document2101.status == 'À rectifier' ? 'yellow' : ''}">
                                <td>{{ document2101.numeroEcriture }}</td>
                                <td>{{ document2101.codePoste }}</td>
                                <td>{{ document2101.dateDebut | date: 'yyyy-MM-dd' }}</td>
                                <td>
                                    <div class="flex">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="edit2101(document2101)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning mr-2"
                                            (click)="delete2101(document2101)"></button>
                                        <button *ngIf="document2101.motifRejet" pButton pRipple icon="pi pi-info-circle"
                                            class="p-button-rounded p-button-danger"
                                            (click)="openRejetMotif2101(document2101)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- Section Document3001 -->


            <!-- Section Document2011 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document2011
                    </div>
                    <p-table #dt [value]="document2011s" [paginator]="true" [rows]="10" [rowHover]="true"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Code Poste
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Date Début
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Date Fin
                                </th>
                                <th class="white-space-nowrap" style="width: 10%">
                                    Montant
                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 10%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal2011()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document2011>
                            <tr [ngStyle]="{'background-color': document2011.status == 'À rectifier' ? 'yellow' : ''}">
                                <td>{{ document2011.codePoste }}</td>
                                <td>{{ document2011.dateDebut | date: 'yyyy-MM-dd' }}</td>
                                <td>{{ document2011.dateFin | date: 'yyyy-MM-dd' }}</td>
                                <td>{{ document2011.montant }}</td>
                                <td>
                                    <div class="flex">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="edit2011(document2011)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning mr-2"
                                            (click)="delete2011(document2011)"></button>
                                        <button *ngIf="document2011.motifRejet" pButton pRipple icon="pi pi-info-circle"
                                            class="p-button-rounded p-button-danger"
                                            (click)="openRejetMotif2011(document2011)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>

    </form>
</div>
<!-- SECTION DES DIALOGUES DE CONFIRMATIONS DE SUPRESSIONS. -->
<p-dialog [(visible)]="deleteDocument1101" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1101">Retirer du tableau ... <b></b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
            (click)="deleteDocument1101 = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
            (click)="confirmDelete1101()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteDocument1102" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1102">Retirer du tableau ... <b></b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
            (click)="deleteDocument1102 = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
            (click)="confirmDelete1102()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteDocument1103" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1103">Retirer du tableau ... <b></b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
            (click)="deleteDocument1103 = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
            (click)="confirmDelete1103()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteDocument1104" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1104">Retirer du tableau ... <b></b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
            (click)="deleteDocument1104 = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
            (click)="confirmDelete1104()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteDocument1105" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1105">Retirer du tableau ... <b></b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
            (click)="deleteDocument1105 = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
            (click)="confirmDelete1105()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteDocument1106" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1106">Retirer du tableau ... <b></b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
            (click)="deleteDocument1106 = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
            (click)="confirmDelete1106()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteDocument1107" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1107">Retirer du tableau ... <b></b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
            (click)="deleteDocument1107 = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
            (click)="confirmDelete1107()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteDocument1109" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1109">Retirer du tableau ... <b></b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
            (click)="deleteDocument1109 = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
            (click)="confirmDelete1109()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteDocument2011" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document2011">Retirer du tableau ... <b></b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
            (click)="deleteDocument2011 = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
            (click)="confirmDelete2011()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteDocument2021" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document2021">Retirer du tableau ... <b></b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="deleteDocument2021 = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
            (click)="confirmDelete2021()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteDocument2101" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document2101">Retirer du tableau ... <b></b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
            (click)="deleteDocument2101 = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
            (click)="confirmDelete2101()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteDocument3001" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document3001">Retirer du tableau ... <b></b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
            (click)="deleteDocument3001 = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
            (click)="confirmDelete3001()"></button>
    </ng-template>
</p-dialog>
<!-- SECTION DES DIALOGUES DE REJET MOTIF. -->
<p-dialog [(visible)]="rejetMotif1101" header="Correction à faire :" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1101">{{document1101.motifRejet}}</span>
    </div>
</p-dialog>
<p-dialog [(visible)]="rejetMotif1102" header="Correction à faire :" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1102">{{document1102.motifRejet}}</span>
    </div>
</p-dialog>
<p-dialog [(visible)]="rejetMotif1103" header="Correction à faire :" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1103">{{document1103.motifRejet}}</span>
    </div>
</p-dialog>
<p-dialog [(visible)]="rejetMotif1104" header="Correction à faire :" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1104">{{document1104.motifRejet}}</span>
    </div>
</p-dialog>
<p-dialog [(visible)]="rejetMotif1105" header="Correction à faire :" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1105">{{document1105.motifRejet}}</span>
    </div>
</p-dialog>
<p-dialog [(visible)]="rejetMotif1106" header="Correction à faire :" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1106">{{document1106.motifRejet}}</span>
    </div>
</p-dialog>
<p-dialog [(visible)]="rejetMotif1107" header="Correction à faire :" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1107">{{document1107.motifRejet}}</span>
    </div>
</p-dialog>
<p-dialog [(visible)]="rejetMotif1109" header="Correction à faire :" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document1109">{{document1109.motifRejet}}</span>
    </div>
</p-dialog>
<p-dialog [(visible)]="rejetMotif2011" header="Correction à faire :" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document2011">{{document2011.motifRejet}}</span>
    </div>
</p-dialog>
<p-dialog [(visible)]="rejetMotif2021" header="Correction à faire :" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document2021">{{document2021.motifRejet}}</span>
    </div>
</p-dialog>
<p-dialog [(visible)]="rejetMotif2101" header="Correction à faire :" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document2101">{{document2101.motifRejet}}</span>
    </div>
</p-dialog>
<p-dialog [(visible)]="rejetMotif3001" header="Correction à faire :" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="document3001">{{document3001.motifRejet}}</span>
    </div>
</p-dialog>