<div class="container">
    <h1>Formulaire de saisie</h1>
    <form>
        <div class="row">
            <!-- Section Document1101 -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Document1101</h5>
                        <div class="mb-3">
                            <label for="codeTitre" class="form-label">Code Titre</label>
                            <input type="text" class="form-control" id="codeTitre" name="codeTitre">
                        </div>
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="nom" name="nom">
                        </div>
                        <div class="mb-3">
                            <label for="codeSexe" class="form-label">Code Sexe</label>
                            <input type="text" class="form-control" id="codeSexe" name="codeSexe">
                        </div>
                        <div class="mb-3">
                            <label for="codeSituationMatrimoniale" class="form-label">Code Situation
                                Matrimoniale</label>
                            <input type="text" class="form-control" id="codeSituationMatrimoniale"
                                name="codeSituationMatrimoniale">
                        </div>
                        <div class="mb-3">
                            <label for="codeStatut" class="form-label">Code Statut</label>
                            <input type="text" class="form-control" id="codeStatut" name="codeStatut">
                        </div>
                        <div class="mb-3">
                            <label for="nombreEnfantAf" class="form-label">Nombre Enfant Af</label>
                            <input type="text" class="form-control" id="nombreEnfantAf" name="nombreEnfantAf">
                        </div>
                        <div class="mb-3">
                            <label for="codeSalaireUnique" class="form-label">Code Salaire Unique</label>
                            <input type="text" class="form-control" id="codeSalaireUnique" name="codeSalaireUnique">
                        </div>
                        <div class="mb-3">
                            <label for="categorieImpIrpp" class="form-label">Catégorie Impôt IRPP</label>
                            <input type="text" class="form-control" id="categorieImpIrpp" name="categorieImpIrpp">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section Document1102 -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Document1102</h5>
                        <div class="mb-3">
                            <label for="codeCategorieAnc" class="form-label">Code Catégorie Anc</label>
                            <input type="text" class="form-control" id="codeCategorieAnc" name="codeCategorieAnc">
                        </div>
                        <div class="mb-3">
                            <label for="codeEchelleCorpsAnc" class="form-label">Code Échelle Corps Anc</label>
                            <input type="text" class="form-control" id="codeEchelleCorpsAnc" name="codeEchelleCorpsAnc">
                        </div>
                        <div class="mb-3">
                            <label for="codeGradeAnc" class="form-label">Code Grade Anc</label>
                            <input type="text" class="form-control" id="codeGradeAnc" name="codeGradeAnc">
                        </div>
                        <div class="mb-3">
                            <label for="codeIndiceAnc" class="form-label">Code Indice Anc</label>
                            <input type="text" class="form-control" id="codeIndiceAnc" name="codeIndiceAnc">
                        </div>
                        <div class="mb-3">
                            <label for="codeCategorieNv" class="form-label">Code Catégorie Nv</label>
                            <input type="text" class="form-control" id="codeCategorieNv" name="codeCategorieNv">
                        </div>
                        <div class="mb-3">
                            <label for="codeEchelleCorpsNv" class="form-label">Code Échelle Corps Nv</label>
                            <input type="text" class="form-control" id="codeEchelleCorpsNv" name="codeEchelleCorpsNv">
                        </div>
                        <div class="mb-3">
                            <label for="codeGradeNv" class="form-label">Code Grade Nv</label>
                            <input type="text" class="form-control" id="codeGradeNv" name="codeGradeNv">
                        </div>
                        <div class="mb-3">
                            <label for="codeIndiceNv" class="form-label">Code Indice Nv</label>
                            <input type="text" class="form-control" id="codeIndiceNv" name="codeIndiceNv">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- Section Document1103 -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Document1103</h5>
                        <div class="mb-3">
                            <label for="codeServiceAnc" class="form-label">Code Service Anc</label>
                            <input type="text" class="form-control" id="codeServiceAnc" name="codeServiceAnc">
                        </div>
                        <div class="mb-3">
                            <label for="codeServiceNv" class="form-label">Code Service Nv</label>
                            <input type="text" class="form-control" id="codeServiceNv" name="codeServiceNv">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section Document1104 -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Document1104</h5>
                        <div class="mb-3">
                            <label for="codeEmploi" class="form-label">Code Emploi</label>
                            <input type="text" class="form-control" id="codeEmploi" name="codeEmploi">
                        </div>
                        <div class="mb-3">
                            <label for="dateFinEmploi" class="form-label">Date Fin Emploi</label>
                            <input type="date" class="form-control" id="dateFinEmploi" name="dateFinEmploi">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- Section Document1105 -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Document1105</h5>
                        <div class="mb-3">
                            <label for="codeLieuAffectation" class="form-label">Code Lieu Affectation</label>
                            <input type="text" class="form-control" id="codeLieuAffectation" name="codeLieuAffectation">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section Document1106 -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Document1106</h5>
                        <div class="mb-3">
                            <label for="codePositionSolde" class="form-label">Code Position Solde</label>
                            <input type="text" class="form-control" id="codePositionSolde" name="codePositionSolde">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Section Document1107 -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Document1107</h5>
                        <div class="mb-3">
                            <label for="codeModeReglement" class="form-label">Code Mode de Règlement</label>
                            <input type="text" class="form-control" id="codeModeReglement" name="codeModeReglement">
                        </div>
                        <div class="mb-3">
                            <label for="numeroCompteEnBanque" class="form-label">Numéro de Compte en Banque</label>
                            <input type="text" class="form-control" id="numeroCompteEnBanque"
                                name="numeroCompteEnBanque">
                        </div>
                        <div class="mb-3">
                            <label for="codeAgence" class="form-label">Code Agence</label>
                            <input type="text" class="form-control" id="codeAgence" name="codeAgence">
                        </div>
                        <div class="mb-3">
                            <label for="cleRib" class="form-label">Clé RIB</label>
                            <input type="text" class="form-control" id="cleRib" name="cleRib">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section Document2011 -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Document2011</h5>
                        <div class="mb-3">
                            <label for="codePoste2011" class="form-label">Code Poste</label>
                            <input type="text" class="form-control" id="codePoste2011" name="codePoste2011">
                        </div>
                        <div class="mb-3">
                            <label for="dateDebut2011" class="form-label">Date de Début</label>
                            <input type="date" class="form-control" id="dateDebut2011" name="dateDebut2011">
                        </div>
                        <div class="mb-3">
                            <label for="dateFin2011" class="form-label">Date de Fin</label>
                            <input type="date" class="form-control" id="dateFin2011" name="dateFin2011">
                        </div>
                        <div class="mb-3">
                            <label for="montant2011" class="form-label">Montant</label>
                            <input type="text" class="form-control" id="montant2011" name="montant2011">
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <!-- Section Document3001 -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Document3001</h5>
                        <div class="mb-3">
                            <label for="tauxRappel" class="form-label">Taux de Rappel</label>
                            <input type="text" class="form-control" id="tauxRappel" name="tauxRappel">
                        </div>
                        <div class="mb-3">
                            <label for="pointsRappel" class="form-label">Points de Rappel</label>
                            <input type="text" class="form-control" id="pointsRappel" name="pointsRappel">
                        </div>
                        <div class="mb-3">
                            <label for="dateDebutRappel" class="form-label">Date de Début de Rappel</label>
                            <input type="date" class="form-control" id="dateDebutRappel" name="dateDebutRappel">
                        </div>
                        <div class="mb-3">
                            <label for="dateFinRappel" class="form-label">Date de Fin de Rappel</label>
                            <input type="date" class="form-control" id="dateFinRappel" name="dateFinRappel">
                        </div>
                        <div class="mb-3">
                            <label for="nombreJoursRappel" class="form-label">Nombre de Jours de Rappel</label>
                            <input type="text" class="form-control" id="nombreJoursRappel" name="nombreJoursRappel">
                        </div>
                        <div class="mb-3">
                            <label for="codePoste3001" class="form-label">Code Poste</label>
                            <input type="text" class="form-control" id="codePoste3001" name="codePoste3001">
                        </div>
                        <div class="mb-3">
                            <label for="montant3001" class="form-label">Montant</label>
                            <input type="text" class="form-control" id="montant3001" name="montant3001">
                        </div>
                    </div>
                </div>
            </div>

           
            <!-- Section Document2021 -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Document2021</h5>
                        <div class="mb-3">
                            <label for="codePoste2021" class="form-label">Code Poste</label>
                            <input type="text" class="form-control" id="codePoste2021" name="codePoste2021">
                        </div>
                        <div class="mb-3">
                            <label for="dateDebut2021" class="form-label">Date de Début</label>
                            <input type="date" class="form-control" id="dateDebut2021" name="dateDebut2021">
                        </div>
                        <div class="mb-3">
                            <label for="dateFin2021" class="form-label">Date de Fin</label>
                            <input type="date" class="form-control" id="dateFin2021" name="dateFin2021">
                        </div>
                        <div class="mb-3">
                            <label for="montant2021" class="form-label">Montant</label>
                            <input type="text" class="form-control" id="montant2021" name="montant2021">
                        </div>
                        <div class="mb-3">
                            <label for="montantGlobal2021" class="form-label">Montant Global</label>
                            <input type="text" class="form-control" id="montantGlobal2021" name="montantGlobal2021">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- Section Document2101 -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Document2101</h5>
                        <div class="mb-3">
                            <label for="numeroEcriture" class="form-label">Numéro d'Écriture</label>
                            <input type="text" class="form-control" id="numeroEcriture" name="numeroEcriture">
                        </div>
                        <div class="mb-3">
                            <label for="codePoste2101" class="form-label">Code Poste</label>
                            <input type="text" class="form-control" id="codePoste2101" name="codePoste2101">
                        </div>
                        <div class="mb-3">
                            <label for="dateDebut2101" class="form-label">Date de Début</label>
                            <input type="date" class="form-control" id="dateDebut2101" name="dateDebut2101">
                        </div>
                    </div>
                </div>
            </div>
 <!-- Section Document1109 -->
 <div class="col-md-6">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Document1109</h5>
            <div class="mb-3">
                <label for="dateMariage" class="form-label">Date de Mariage</label>
                <input type="date" class="form-control" id="dateMariage" name="dateMariage">
            </div>
        </div>
    </div>
</div>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>