<div class="container">
    <h1>Formulaire de saisie</h1>
    <form>
        <div class="row">
            <!-- Section Document1101 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1101
                    </div>
                    <p-table #dt [paginator]="true" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Code Titre

                                </th>

                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    Nom et prénoms

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Code Situation

                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal1101()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dossier>
                            <tr>
                                <td></td>

                                <td></td>

                                <td>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <!-- Section Document1102 -->
            <div class="col-md-6 mb-3" >
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1102
                    </div>
                    <p-table #dt [paginator]="true" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Code Catégorie Anc

                                </th>

                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    Code Échelle Corps Anc

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Code Grade Anc

                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal1102()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dossier>
                            <tr>
                                <td></td>

                                <td></td>

                                <td>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- Section Document1103 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1103
                    </div>
                    <p-table #dt [value]="document1103s" [paginator]="true" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Code Service Anc

                                </th>

                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    Code Service Nv

                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal1103()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document1103>
                            <tr>
                                <td>{{document1103.codeServiceAnc}}</td>

                                <td>{{document1103.codeServiceNv}}</td>

                                <td>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <!-- Section Document1104 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1104
                    </div>
                    <p-table #dt [paginator]="true" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Code Emploi

                                </th>

                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    Date Fin Emploi

                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal1104()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dossier>
                            <tr>
                                <td></td>

                                <td></td>

                                <td>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>


        <div class="row">
            <!-- Section Document1105 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1105
                    </div>
                    <p-table #dt [paginator]="true" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Code Lieu Affectation

                                </th>

                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal1105()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dossier>
                            <tr>
                                <td></td>

                                <td></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <!-- Section Document1106 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1106
                    </div>
                    <p-table #dt [paginator]="true" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="codePositionSolde" class="white-space-nowrap" style="width: 25%">
                                    Code Position Solde

                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal1106()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dossier>
                            <tr>
                                <td></td>

                                <td></td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- Section Document1107 -->
            <div class="col-md-6 mb-3 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1107
                    </div>
                    <p-table #dt [paginator]="true" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Code Mode de Règlement

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Numéro de Compte en Banque

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Code Agence

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Clé RIB

                                </th>

                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal1107()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dossier>
                            <tr>
                                <td></td>

                                <td></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <!-- Section Document1109-->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document1109
                    </div>
                    <p-table #dt [paginator]="true" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="codePositionSolde" class="white-space-nowrap" style="width: 25%">
                                    Date de Mariage

                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal1109()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dossier>
                            <tr>
                                <td></td>

                                <td></td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- Section Document1107 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document2021
                    </div>
                    <p-table #dt [paginator]="true" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Code Poste

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Date de Début

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Date de Fin
                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Montant
                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Montant Global
                                </th>

                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal2021()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dossier>
                            <tr>
                                <td></td>

                                <td></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <!-- Section Document2101-->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document2101
                    </div>
                    <p-table #dt [paginator]="true" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="codePositionSolde" class="white-space-nowrap" style="width: 25%">
                                    Numéro d'Écriture

                                </th>
                                <th pSortableColumn="codePositionSolde" class="white-space-nowrap" style="width: 25%">
                                    Code Poste

                                </th>
                                <th pSortableColumn="codePositionSolde" class="white-space-nowrap" style="width: 25%">
                                    Date de Début

                                </th>
                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal2101()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dossier>
                            <tr>
                                <td></td>

                                <td></td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- Section Document3001 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document3001
                    </div>
                    <p-table #dt [paginator]="true" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Taux de Rappel

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Points de Rappel

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Date de Début de Rappel

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Date de Fin de Rappel

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Nombre de Jours de Rappel

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Montant

                                </th>

                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal3001()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dossier>
                            <tr>
                                <td></td>

                                <td></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <!-- Section Document2011 -->
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="text-900 text-xl font-semibold mb-3">
                        Document2011
                    </div>
                    <p-table #dt [paginator]="true" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    code Poste

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Date de Début

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Date de Fin

                                </th>
                                <th pSortableColumn="typeDossier" class="white-space-nowrap" style="width: 25%">
                                    Montant

                                </th>

                                <th pSortableColumn="dateDepot" class="white-space-nowrap" style="width: 25%">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Nouveau"
                                        (click)="openModal2011()" class="p-button-outlined p-button-sm"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dossier>
                            <tr>
                                <td></td>

                                <td></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>
       
    </form>
</div>