<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">Document2011</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
            <div class="p-fluid p-formgrid grid">


                <div class="field col-12">
                    <label for="codePoste" class="form-label">Code Poste</label>
                    <input type="text" pInputText id="codePoste" name="codePoste" formControlName="codePoste">
                </div>
                <div class="field col-12">
                    <label for="dateDebut" class="form-label">Date de Début</label>
                    <p-calendar [showIcon]="true" id="dateDebut" inputId="icon"
                        formControlName="dateDebut"></p-calendar>
                </div>
                <div class="field col-12">
                    <label for="dateFin" class="form-label">Date de Fin</label>
                    <p-calendar [showIcon]="true" id="dateFin" inputId="icon" formControlName="dateFin"></p-calendar>
                </div>
                <div class="field col-12">
                    <label for="montant" class="form-label">Montant</label>
                    <input type="text" pInputText id="montant" name="montant" formControlName="montant">
                </div>
                <div class="p-formgrid grid" style="text-align: center; margin-left: 250px;">
                    <div class="field col" style="margin: 0 auto;">
                        <button pButton pRipple label="Ajouter"></button>
                    </div>
                    <div class="field col" style="margin: 0 auto;">
                        <button type="reset" class="p-button-secondary" pButton pRipple label="Effacer"></button>
                    </div>
                </div>


            </div>
        </form>



    </div>
</div>