<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">Document1102</h3>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <label htmlFor="codeCategorieAnc">Code Catégorie Anc</label>
                <input pInputText id="codeCategorieAnc" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="codeEchelleCorpsAnc">Code Échelle Corps Anc</label>
                <input pInputText id="codeEchelleCorpsAnc" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="codeGradeAnc">Code Grade Anc</label>
                <input pInputTextarea id="codeGradeAnc" rows="4" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="codeIndiceAnc">Code Indice Anc</label>
                <input pInputText id="codeIndiceAnc" type="text" />
            </div>

            <div class="field col-12 md:col-6">
                <label htmlFor="codeCategorieNv">Code Catégorie Nv</label>
                <input pInputText id="codeCategorieNv" type="text" />

            </div>

            <div class="field col-12 md:col-6">
                <label for="codeEchelleCorpsNv" class="form-label">Code Échelle Corps Nv</label>
                <input type="text" pInputText id="codeEchelleCorpsNv" name="nombreEnfantAf">
            </div>
            <div class="field col-12 md:col-6">
                <label for="codeGradeNv" class="form-label">Code Grade Nv</label>
                <input type="text" pInputText id="codeGradeNv" name="codeSalaireUnique">
            </div>
            <div class="field col-12 md:col-6">
                <label for="codeIndiceNv" class="form-label">Code Indice Nv</label>
                <input type="text" pInputText id="codeIndiceNv" name="categorieImpIrpp">
            </div>

            <div class="p-formgrid grid" style="text-align: center;margin-left: 250px;">
                <div class="field col" style="margin: 0 auto;">
                    <button pButton pRipple label="Ajouter"></button>
                </div>
                <div class="field col" style="margin: 0 auto;">
                    <button type="reset" class="p-button-secondary" pButton pRipple label="Effacer"></button>
                </div>
            </div>
            
        </div>




    </div>
</div>